<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/frame.css">
    <title>vue-boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="leftContainer">
                <header class="leftContainer_header">
                    <div class="userInfoContainer">
                        <div class="userProfilePicContainer">
                            <img v-bind:src="userImage">
                        </div>
                        <div class="userName">{{userName}}</div>
                    </div>
                    <div class="headerOptions">
                        <i class="option fa-solid fa-arrow-rotate-right"></i>
                        <i class="option fa-solid fa-message"></i>
                        <i class="option fa-solid fa-bars"></i>
                    </div>
                </header>

                <div class="notificationSection">
                    <div class="notificationImg">
                        <img src="img/assets/avatar_1.jpg">
                    </div>
                    <div class="contactTextContainer">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div><u>Attiva notifiche desktop</u></div>
                    </div>
                </div>

                <div class="search">
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input id="search-input" type="text" v-model="userResearch" size="50" placeholder="Cerca o inizia una nuova chat">
                </div>

                <ul class="contactList">
                    <li class="contactInfoContainer" @click="selectContact(index)" @mouseout="hoveredContact=null" @mouseover="hoveredContact = index" :class="[hoveredContact == index ? 'hover' : '']" v-for="(contact,index) in filteredContacts">
                        <div class="contactProfilePicContainer">
                            <img v-bind:src="contact.avatar">
                        </div>
                        <div class="contactTextContainer">
                            <div>{{contact.name}}</div>
                            <div class="ultimo_messaggio">{{contact.ultimo_messaggio}}</div>
                        </div>
                        <div class="hour">
                            <template v-if="contact.last_access_day == 'oggi'">{{contact.last_access_hour}}</template>
                            <template v-else="contact.last_access_day != 'oggi'">{{contact.last_access_day}}</template>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rightContainer">
                <header class="rightContainer_header">
                    
                    <div class="contactInfoContainer">
                        
                        <div class="contactProfilePicContainer">
                            <img v-bind:src="contacts[activeContact].avatar">
                        </div>
                        <div class="contactTextContainer">
                            <div>{{contacts[activeContact].name}}</div>
                            <div>Ultimo accesso {{contacts[activeContact].last_access_day}} alle {{contacts[activeContact].last_access_hour}}    </div>
                        </div>
       
                    </div>
                    <div class="rightContainer_options">
                        <i class="option fa-solid fa-magnifying-glass"></i>
                        <i class="option fa-solid fa-paperclip"></i>
                        <i class="option fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    
                </header>
                <div class="messages">
                    <div v-for="(element, index) in contacts[activeContact].messages" :class="[element.status == 'received' ? 'received' : 'sent']">
                        {{element.message}}
                    </div>
                </div>
                <div class="enterMessagesSection">
                    <div class="emoji">
                        <i class="messageBarOption fa-solid fa-face-smile"></i>
                    </div>
                    <div class="enterMessagesBar">
                        <input  type="text" v-model="newMessage" @keyup.enter="addMessage" size="90%"  placeholder="Scrivi un messaggio">
                    </div>
                    <div>
                        <i class="messageBarOption fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="scripts/contacts.js"></script>
</html>

<!-- v-for="(contact,index) in contacts"-->