<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/frame.css">
    <link rel="stylesheet" href="style/userMessages.css">
    <link rel="stylesheet" href="style/contactMessages.css">
    <title>vue-boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="leftContainer">
                <header class="leftContainer_header">
                    <div class="userInfoContainer">
                        <div class="userProfilePicContainer">
                            <img v-bind:src="userImage">
                        </div>
                        <div class="userName">{{userName}}</div>
                    </div>
                    <div class="headerOptions">
                        <i class="fa-solid fa-arrow-rotate-right"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </header>

                <div class="notificationSection">
                    <div class="notificationImg">
                        <img src="img/assets/avatar_1.jpg">
                    </div>
                    <div class="contactTextContainer">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div><u>Attiva notifiche desktop</u></div>
                    </div>
                </div>

                <div class="search">
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" size="50" placeholder="Cerca o inizia una nuova chat">
                </div>

                <ul class="contactList">
                    <li class="contactInfoContainer" @click="selectContact(contact)" @mouseout="hoveredContact=null" @mouseover="hoveredContact = index" :class="[hoveredContact == index ? 'hover' : '']" v-for="(contact,index) in contacts">
                        <div class="contactProfilePicContainer">
                            <img v-bind:src="contact.avatar">
                        </div>
                        <div class="contactTextContainer">
                            <div>{{contact.name}}</div>
                            <div class="ultimo_messaggio">{{contact.ultimo_messaggio}}</div>
                        </div>
                        <div class="hour">
                            {{contact.date}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rightContainer">
                <header class="rightContainer_header">
                    
                    <div class="contactInfoContainer" v-for="contact in contacts" v-if="contact.name==activeContact">
                        
                        <div class="contactProfilePicContainer">
                            <img v-bind:src="contact.avatar">
                        </div>
                        <div class="contactTextContainer">
                            <div>{{contact.name}}</div>
                            <div>{{contact.ultimo_messaggio}}</div>
                        </div>
                            
                       
                    </div>
                    
                </header>
                <div class="messages">
                    <div class="userMessage">Hai portato a spasso il cane?</div>
                    <div class="userMessage">Ricordati di stendere i panni</div>
                    <div class="contactMessage">Tutto fatto</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="scripts/contacts.js"></script>
</html>