*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #dbdbd2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 100px, #dbdbd2 100px, #dbdbd2 100%);
}


.container{
    position: relative;
    margin:0 auto;
    display: flex;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: #eaeaea;
}


.leftContainer{
    position: relative;
    /*flex: 25%;*/
    flex-basis: 320px;
    background-color: #ffffff;
    flex-grow: 1;
}

.contactInfoContainer{              /*contains all contacts' data: img, name, last message*/
    display: flex;
    justify-content: flex-start;
}

.contactProfilePicContainer{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    
}

.hour{
    color: grey;
    position: absolute;
    right: 5px;
}

.contactProfilePicContainer img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    
}



.leftContainer_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}

.userInfoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userProfilePicContainer{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

/*search*/
.search{
    display: flex;
    padding-left: 5px;
}

/*notification button*/
.notificationSection{
    display: flex;
    padding: 5px;
}
.notificationImg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}



.rightContainer{
    position: relative;
    flex: 65%;
    background-image: url('../img/assets/mine.jpg');
    background-size: cover;
}

.rightContainer_header{
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
}

.rightContainer_options{
    align-self: center;

}

.option{
    margin-right: 5px;
}

.hover{
    cursor: pointer;
    background-color: #eaeaea;
}


/*Messages*/
.messages{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
}

.contactInfoContainer{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.sent{
    align-self: flex-end;
    background-color: greenyellow;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 10px;
    
}

.received{
    align-self: flex-start;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 10px;
}

.ultimo_messaggio{
    color: grey;
}

.enterMessagesSection{
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    justify-content: space-between;
    position:absolute;
    bottom: 0%;
    flex-basis: 100%;
    left: 0%;
    right: 0%;
    height: 3rem;

}

